{% extends "token_auth/base.html" %}
{% load i18n %}
{% block displaytitle %}
Token List
{% endblock %}

{% block token_auth %}
<ul data-role="listview" data-inset="true">
{% if not token_list %}<li>There are no active tokens.</li>{% endif %}
{% for token in token_list %}
	<li>
		<a href="/go/{{token.token}}/barcode/">
		<div>{{ token.token }}</div>
		{%if token.user %}
			{{ token.user.first_name }}
			{{ token.user.last_name }}
			({{ token.user.username }})
		{% else %}
			{{ token.email }}
			{{ token.token }}
			<br /><span style="color: red">Invalid user link</span>
		{% endif %}
		<br />{% if token.valid_until %}
			Valid until {{token.valid_until}}
		{%else%}
			Permanent
		{%endif%} 
			<!--a href="/go/{{token.token}}/expire/">Expire Now</a-->
		</a>
	</li>
{% endfor %}
</ul>
{% endblock %}